/* @TODO: Breakpoints gebruiken zonder sass? */
/* @import url('../../../../node_modules/@amsterdam/design-system-css/src/common/breakpoint.scss'); */

.address-row,
.zipcode-row {
  display: grid;
  gap: var(--amsterdam-grid-column-gap);

  @media screen and (min-width: 68rem) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.address-row {
  div:nth-child(1) {
    grid-row: 1;

    @media screen and (min-width: 68rem) {
      grid-column: 1 / 5;
    }
  }

  div:nth-child(2) {
    grid-row: 2;
    
    @media screen and (min-width: 68rem) {
      grid-row: 1;
      grid-column: 5 / 7;
    }
  }

  div:nth-child(3) {
    grid-row: 3;
    
    @media screen and (min-width: 68rem) {
      grid-row: 1;
      grid-column: 7 / 9;
    }
  }
}

.zipcode-row {
  div:nth-child(1) {
    grid-row: 1;
    
    @media screen and (min-width: 68rem) {
      grid-column: 1 / 5;
    }
  }

  div:nth-child(2) {
    grid-row: 2;
    
    @media screen and (min-width: 68rem) {
      grid-row: 1;
      grid-column: 5 / 9;
    }
  }
}
