.amopis-main-background {
  background-color: #e4effa;
}

.amopis-white-background {
  background-color: var(--ams-color-background);
  padding-block: var(--ams-space-m);
  padding-inline: var(--ams-space-m);
}

.ams-site--amopis .ams-tabs__panel {
  display: none;
}
