.ams-back-link {
  align-items: flex-start;
  color: var(--ams-link-list-link-color);
  display: inline-flex;
  font-family: var(--ams-link-list-link-font-family);
  font-size: var(--ams-link-list-link-small-font-size);
  font-weight: var(--ams-link-list-link-font-weight);
  gap: var(--ams-link-list-link-gap);
  line-height: var(--ams-link-list-link-small-line-height);
  outline-offset: var(--ams-link-list-link-outline-offset);
  text-decoration-line: var(--ams-link-list-link-text-decoration-line);
  text-decoration-thickness: var(--ams-link-list-link-text-decoration-thickness);
  text-underline-offset: var(--ams-link-list-link-text-underline-offset);
}

.ams-back-link:dir(rtl) svg {
  transform: scaleX(-1);
  transform-origin: center;
}
