.ams-summary-description-list {
  box-sizing: border-box;
  color: var(--ams-description-list-color);
  display: grid;
  font-family: var(--ams-description-list-font-family);
  font-size: var(--ams-description-list-font-size);
  line-height: var(--ams-description-list-line-height);
  margin-block: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

.ams-summary-description-list__container {
  column-gap: var(--ams-grid-column-gap);
  display: grid;
  row-gap: var(--ams-space-s);

  @media screen and (min-width: 36rem) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (min-width: 68rem) {
    grid-template-columns: repeat(9, 1fr);
  }
}

.ams-summary-description-list__term {
  font-weight: var(--ams-typography-body-text-bold-font-weight);
  grid-column-end: -3;
  grid-column-start: 1;
}

.ams-summary-description-list__description {
  font-size: var(--ams-typography-body-text-small-font-size);
  grid-column-end: -3;
  grid-column-start: 1;
  line-height: var(--ams-typography-body-text-small-line-height);
  margin-inline: 0;
}

.ams-summary-description-list__link {
  font-size: var(--ams-typography-body-text-small-font-size);
  line-height: var(--ams-typography-body-text-small-line-height);
  margin-inline: 0;
}
