.ams-form-navigation {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.ams-form-navigation-link {
  display: flex;
  gap: var(--ams-space-stack-sm);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
