'use client'

import {
  Column,
  Footer,
  Grid,
  Header,
  Heading,
  Link,
  PageMenu,
  Paragraph,
  Screen,
  SkipLink,
} from '@amsterdam/design-system-react'
import NextLink from 'next/link'

export default function {{pascalCase name}}({ children }) {
  return (
    <Screen className="ams-theme">
      <Grid>
        <Grid.Cell span="all">
          <SkipLink href="#main">Direct naar inhoud</SkipLink>
        </Grid.Cell>
      </Grid>
      <Header
        logoLink={`${process.env.basePath}{{kebabCase name}}`}
        logoLinkTitle="Naar de homepage van {{titleCase name}}"
      />
      <main id="main">{children}</main>
      <Footer>
        <Footer.Top>
          <Grid gapVertical="large" paddingVertical="medium">
            <Grid.Cell span={{curlyBefore}}{ narrow: 3, medium: 4, wide: 4 }}>
              <Column as="section" gap="extra-small">
                <Heading level={2} size="level-4" inverseColor>
                  Contact
                </Heading>
                <Paragraph size="small" inverseColor>
                  Heeft u een vraag en kunt u het antwoord niet vinden op deze site? Bel het telefoonnummer{' '}
                  <Link href="tel:+3114020" inverseColor variant="inline">
                    14 020
                  </Link>
                  .
                </Paragraph>
                <Paragraph size="small" inverseColor>
                  Wij zijn bereikbaar van maandag tot en met vrijdag van 08.00 tot 18.00 uur.
                </Paragraph>
              </Column>
            </Grid.Cell>
          </Grid>
        </Footer.Top>
        <Footer.Bottom>
          <Heading level={2} className="ams-visually-hidden">
            Over deze website
          </Heading>
          <Grid paddingVertical="small">
            <Grid.Cell span="all">
              <PageMenu>
                <NextLink href="/" legacyBehavior passHref>
                  <Header.MenuLink>Prototypes</Header.MenuLink>
                </NextLink>
                <PageMenu.Link href="#">Over deze site</PageMenu.Link>
                <PageMenu.Link href="#">Privacy</PageMenu.Link>
                <PageMenu.Link href="#">Toegankelijkheid</PageMenu.Link>
                {/* Append footer link here */}
              </PageMenu>
            </Grid.Cell>
          </Grid>
        </Footer.Bottom>
      </Footer>
    </Screen>
  )
}
