'use client'

import { Grid, Heading, LinkList, Logo, Page, PageFooter, PageHeader, Paragraph, SkipLink } from '@amsterdam/design-system-react'
import NextLink from 'next/link'

export default function {{pascalCase name}}({ children }) {
  return (
    <Page className="ams-theme">
      <Grid>
        <Grid.Cell span="all">
          <SkipLink href="#main">Direct naar inhoud</SkipLink>
        </Grid.Cell>
      </Grid>
      <PageHeader
        logoLinkComponent={() => (
          <NextLink className="ams-page-header__logo-link" href={`${process.env.basePath}{{kebabCase name}}`}>
            <Logo />
          </NextLink>
        )}
        logoLinkTitle="Naar de homepage van {{titleCase name}}"
      />
      <main id="main">{children}</main>
      <PageFooter>
        <PageFooter.Spotlight>
          <Grid gapVertical="2x-large" paddingVertical="x-large">
            <Grid.Cell span="all">
              <Heading className="ams-mb-s" color="inverse" level={2} size="level-4">
                Koptekst
              </Heading>
              <Paragraph className="ams-mb-m" color="inverse" size="small">
                Paragraaf.
              </Paragraph>
              <LinkList>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 1
                </LinkList.Link>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 2
                </LinkList.Link>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 3
                </LinkList.Link>
              </LinkList>
            </Grid.Cell>
          </Grid>
        </PageFooter.Spotlight>
        <Heading className="ams-visually-hidden" level={2}>
          Over deze website
        </Heading>
        <PageFooter.Menu>
          <NextLink href="/" legacyBehavior passHref>
            <PageFooter.MenuLink>Prototypes</PageFooter.MenuLink>
          </NextLink>
          <PageFooter.MenuLink href="#">Over deze site</PageFooter.MenuLink>
          <PageFooter.MenuLink href="#">Privacy</PageFooter.MenuLink>
          <PageFooter.MenuLink href="#">Toegankelijkheid</PageFooter.MenuLink>
          {/* Append footer link here */}
        </PageFooter.Menu>
      </PageFooter>
    </Page>
  )
}
