import { Grid, Header, PageMenu } from '@amsterdam/design-system-react'
import { PageMenuLink } from '../../../../shared/components/PageMenuLink'
import { rootUrl } from '../../../../shared/constants'
import { siteUrl } from '../../constants'

export const SiteHeader = () => (
  <Grid>
    <Grid.Cell span="all">
      <Header
        links={
          <PageMenu alignEnd>
            <PageMenuLink to={rootUrl}>Prototypes</PageMenuLink>
          </PageMenu>
        }
        logoLink={siteUrl}
        logoLinkTitle="Naar de homepage van {{name}}"
        menu={<button className="ams-header__menu-button">Menu</button>}
      />
    </Grid.Cell>
  </Grid>
)
