'use client'

import { Footer, Grid, Header, Heading, LinkList, Paragraph, Screen, SkipLink } from '@amsterdam/design-system-react'
import NextLink from 'next/link'

export default function {{pascalCase name}}({ children }) {
  return (
    <Screen className="ams-theme">
      <Grid>
        <Grid.Cell span="all">
          <SkipLink href="#main">Direct naar inhoud</SkipLink>
        </Grid.Cell>
      </Grid>
      <Header
        logoLink={`${process.env.basePath}{{kebabCase name}}`}
        logoLinkTitle="Naar de homepage van {{titleCase name}}"
      />
      <main id="main">{children}</main>
      <Footer>
        <Footer.Spotlight>
          <Grid gapVertical="large" paddingVertical="medium">
            <Grid.Cell span="all">
              <Heading className="ams-mb-s" color="inverse" level={2} size="level-4">
                Koptekst
              </Heading>
              <Paragraph className="ams-mb-m" color="inverse" size="small">
                Paragraaf.
              </Paragraph>
              <LinkList>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 1
                </LinkList.Link>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 2
                </LinkList.Link>
                <LinkList.Link color="inverse" href="#" size="small">
                  Link 3
                </LinkList.Link>
              </LinkList>
            </Grid.Cell>
          </Grid>
        </Footer.Spotlight>
        <Footer.Menu>
          <NextLink href="/" legacyBehavior passHref>
            <Footer.MenuLink>Prototypes</Footer.MenuLink>
          </NextLink>
          <Footer.MenuLink href="#">Over deze site</Footer.MenuLink>
          <Footer.MenuLink href="#">Privacy</Footer.MenuLink>
          <Footer.MenuLink href="#">Toegankelijkheid</Footer.MenuLink>
          {/* Append footer link here */}
        </Footer.Menu>
      </Footer>
    </Screen>
  )
}
