.ams-mega-menu__columns {
  column-gap: var(--ams-space-xl);
  column-width: 20rem;

  .ams-link-list__link {
    break-inside: avoid;
  }
}

.ams-page-header__mega-menu-button {
  background-color: var(--ams-color-interactive);
  padding-inline: var(--ams-space-s);

  &, &:hover {
    color: var(--ams-color-text-inverse);
  }

  &:hover {
    background-color: var(--ams-color-interactive-hover);
  }
}

.ams-page-header__menu-item:has(.ams-icon) {
  gap: 0;
}

.ams-page-header__menu-link:has(.ams-icon) {
  font-size: 0;
}
