/* General */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ams-body {
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
}

/* Row and column alignment */

.ams-column--halign-center {
  justify-items: center;
}

.ams-row {
  display: flex;
  flex-direction: row;
}

.ams-row--align-between {
  justify-content: space-between;
}

.ams-row--valign-baseline {
  align-items: baseline;
}

/* Indicate non-functional links */

a[href="#"] {
  cursor: not-allowed;
}

/* Set strong emphasis in extra bold type */
strong {
  font-weight: 800;
}
