.signalen-form-navigation {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.signalen-summary-heading {
  display: flex;
  justify-content: space-between;
}

.amsterdam-link.amsterdam-link svg {
  transform: rotate(180deg);
}
