/* General */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.amsterdam-body {
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
}

/* Stacks and alignment */

.amsterdam-column {
  display: flex;
  flex-direction: column;
}

.amsterdam-column-halign-center {
  align-items: center;
}

.amsterdam-row {
  display: flex;
  flex-direction: row;
}

.amsterdam-row-align-between {
  justify-content: space-between;
}

/* Gaps */

.amsterdam-gap-sm {
  gap: calc(var(--amsterdam-grid-density-low-gap) / 2);
}

.amsterdam-gap-md {
  gap: var(--amsterdam-grid-density-low-gap);
}

.amsterdam-gap-lg {
  gap: calc(var(--amsterdam-grid-density-low-gap) * 2);
}

.amsterdam-theme--compact {
  .amsterdam-gap-sm {
    gap: calc(var(--amsterdam-grid-density-high-gap) / 2);
  }

  .amsterdam-gap-md {
    gap: var(--amsterdam-grid-density-high-gap);
  }

  .amsterdam-gap-lg {
    gap: calc(var(--amsterdam-grid-density-high-gap) * 2);
  }
}

/* Margin bottom */

.amsterdam-mb-sm {
  margin-bottom: calc(var(--amsterdam-grid-density-low-gap) / 2);
}

.amsterdam-mb-md {
  margin-bottom: var(--amsterdam-grid-density-low-gap);
}

.amsterdam-mb-lg {
  margin-bottom: calc(var(--amsterdam-grid-density-low-gap) * 2);
}

.amsterdam-theme--compact {
  .amsterdam-mb-sm {
    margin-bottom: calc(var(--amsterdam-grid-density-high-gap) / 2);
  }

  .amsterdam-mb-md {
    margin-bottom: var(--amsterdam-grid-density-high-gap);
  }

  .amsterdam-mb-lg {
    margin-bottom: calc(var(--amsterdam-grid-density-high-gap) * 2);
  }
}

/* Fake page menu behaviour */

.amsterdam-header__page-menu {
  justify-content: flex-end;
}

.amsterdam-header__page-menu :not(:last-child) {
  display: none;

  @media screen and (min-width: 36rem) {
    display: block;
  }
}

a[href="#"] {
  cursor: not-allowed;
}
