/* General */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.amsterdam-body {
  background-color: #ffffff;
  margin: 0;
  min-height: 100vh;
}

/* Stacks and alignment */

.amsterdam-column {
  display: flex;
  flex-direction: column;
}

.amsterdam-column-halign-center {
  align-items: center;
}

.amsterdam-row {
  display: flex;
  flex-direction: row;
}

.amsterdam-row-align-between {
  justify-content: space-between;
}

/* Gaps */

.amsterdam-gap-xs {
  gap: calc(var(--amsterdam-grid-spacious-gap) / 4);
}

.amsterdam-gap-sm {
  gap: calc(var(--amsterdam-grid-spacious-gap) / 2);
}

.amsterdam-gap-md {
  gap: var(--amsterdam-grid-spacious-gap);
}

.amsterdam-gap-lg {
  gap: calc(var(--amsterdam-grid-spacious-gap) * 1.5);
}

.amsterdam-gap-xl {
  gap: calc(var(--amsterdam-grid-spacious-gap) * 2);
}

.amsterdam-theme--compact {
  .amsterdam-gap-xs {
    gap: calc(var(--amsterdam-grid-compact-gap) / 4); // 4 – 14px
  }

  .amsterdam-gap-sm {
    gap: calc(var(--amsterdam-grid-compact-gap) / 2); // 8 – 28px
  }

  .amsterdam-gap-md {
    gap: var(--amsterdam-grid-compact-gap); // 16 – 56px
  }

  .amsterdam-gap-lg {
    gap: calc(var(--amsterdam-grid-compact-gap) * 1.5); // 24 – 84px
  }

  .amsterdam-gap-xl {
    gap: calc(var(--amsterdam-grid-compact-gap) * 2); // 32 – 112px
  }
}

/* Margin bottom */

.amsterdam-mb-xs.amsterdam-mb-xs {
  margin-block-end: calc(var(--amsterdam-grid-spacious-gap) / 4);
}

.amsterdam-mb-sm.amsterdam-mb-sm {
  margin-block-end: calc(var(--amsterdam-grid-spacious-gap) / 2);
}

.amsterdam-mb-md.amsterdam-mb-md {
  margin-block-end: var(--amsterdam-grid-spacious-gap);
}

.amsterdam-mb-lg.amsterdam-mb-lg {
  margin-block-end: calc(var(--amsterdam-grid-spacious-gap) * 1.5);
}

.amsterdam-mb-lg.amsterdam-mb-lg {
  margin-block-end: calc(var(--amsterdam-grid-spacious-gap) * 2);
}

.amsterdam-theme--compact {
  .amsterdam-mb-xs.amsterdam-mb-xs {
    margin-block-end: calc(var(--amsterdam-grid-compact-gap) / 4);
  }

  .amsterdam-mb-sm.amsterdam-mb-sm {
    margin-block-end: calc(var(--amsterdam-grid-compact-gap) / 2);
  }

  .amsterdam-mb-md.amsterdam-mb-md {
    margin-block-end: var(--amsterdam-grid-compact-gap);
  }

  .amsterdam-mb-lg.amsterdam-mb-lg {
    margin-block-end: calc(var(--amsterdam-grid-compact-gap) * 1.5);
  }

  .amsterdam-mb-lg.amsterdam-mb-lg {
    margin-block-end: calc(var(--amsterdam-grid-compact-gap) * 2);
  }
}

/* Fake page menu behaviour */

.amsterdam-header__page-menu {
  justify-content: flex-end;
}

.amsterdam-header__page-menu :not(:last-child) {
  display: none;

  @media screen and (min-width: 36rem) {
    display: block;
  }
}

/* Indicate non-functional links */

a[href="#"] {
  cursor: not-allowed;
}

/* Hack header padding */

.amsterdam-header__grid {
  padding-block: 24px;
}

/* Fake input */

.amsterdam-input {
  border-style: solid;
  border-width: 0 0 2px;
  box-sizing: border-box;
  font-family: var(--amsterdam-paragraph-font-family);
  font-size: var(--amsterdam-paragraph-spacious-medium-font-size);
  padding: 0.5em 1em;
  width: 100%;
}
